* {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-columns: 50vw 50vw;   
    grid-template-rows: 5vh 95vh;
    grid-template-areas: "menu menu"
                         "image text-art";
    width: 100vw;
    height: 100vh;
}

.menu-container{
    grid-area: menu;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.image-container{
    grid-area: image;
}

.file-upload-container{
    
}

.text-art-container{
    grid-area: text-art;
}

